sudo: false
language: node_js
node_js:
    - 12 # 使用12的LTS版本
cache: npm
branches:
    only:
        - master # 只监听master分支的push
before_install:
    - npm install -g hexo-cli
    - git clone https://github.com/theme-next/hexo-theme-next themes/next
    - git clone https://github.com/theme-next/theme-next-pace themes/next/source/lib/pace
install:
    - npm install --production
script:
    - hexo clean
    - hexo generate # 自动化构建的脚本
    - echo "blogs.codezm.com" > public/CNAME
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: public
  target_branch: gh-pages
